<div class="card-container mat-elevation-z5">
    <div class="top-content">
        <div class="icon">
            <img class="icon-image" src="assets/icons/badge-sell-3.png">
        </div>
        <img class="product-image" src="{{product.imgUrl}}" (mouseover)="buttonsavalible = true"   (mouseout)="buttonsavalible = false">
    </div>
    <div class="bottom-content">
        <p>
            {{product.name}}
        </p>
        <p class="price">
            <a>
            {{product.priceWithTaxes | currency}}
        </a>
        {{product.priceWithOutTaxes  | currency}}
        </p>
        <button class="mat-elevation-z4"  [routerLink]="['/product-detail',product.SKU]">
           ADD TO CART
        </button>
        
    </div>


  
</div>
