<div class="appbar-container"  [ngStyle]="{'opacity': opacitylevel,'position':positiontype}">


    <div class="col-sm-4 buttons-left" *ngIf="!isMobile && !isMidMobile" >
      <ul>
        <img src="assets/main-logo--black.png"  *ngIf="false">
        <li>    
          <div class="btn-group dropdown">
          <button role="button" type="button" class="btn dropdown left-menu"  [routerLink]="['/home']">
            <p>HOME</p>
          </button>
          
          
        </div>
      
      </li>
        <li > 
          <div class="btn-group dropdown">
            <button role="button" type="button" class="btn dropdown left-menu" [routerLink]="['/shop']">
              <p>PRODUCTS</p>
            </button>
            
            
          </div>

        </li>
        
        <li > 
          <button class="btn dropdown left-menu" [routerLink]="['/contact']">
          <p>CONTACT</p>
        </button>
        </li>
      </ul>
    </div>
    <div class="col-sm-4 logo-container">
        <img src="assets/main-logo--black.png">
  </div>
  <div class="col-sm-4  buttons-right" *ngIf="!isMobile && !isMidMobile; else buttons">

    <div class="col-sm-3 icons">
      <button class="btn">
        <mat-icon>search</mat-icon>
      </button>
  
      <button class="btn">
          <mat-icon>apps</mat-icon>
        </button>
  
        <div class="btn-group dropleft">
        <button class="btn" data-toggle="dropdown">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <div class="dropdown-menu checkout">
          <app-checkoutcard></app-checkoutcard>

      </div>
      </div>
    </div>

    <div class="col-sm-1">
      <div class="btn-group dropleft">
        <button role="button" type="button" class="btn dropdown" data-toggle="dropdown" *ngIf="isMobile || isMidMobile">
           <mat-icon>menu</mat-icon>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/home']">Home</a>
            <a class="dropdown-item" [routerLink]="['/shop']">Shop</a>
            <a class="dropdown-item"[routerLink]="['/contact']">Contact</a>

        </div>
      </div>
    </div>
    

    
  </div>
      

  <ng-template #buttons>
    <div class="col-sm-8  buttons-right" >

      <div class="col-sm-8 icons">
        <button class="btn">
          <mat-icon>search</mat-icon>
        </button>
    
        <button class="btn">
            <mat-icon>apps</mat-icon>
          </button>
    
          <div class="btn-group dropleft">
            <button class="btn" data-toggle="dropdown">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
            <div class="dropdown-menu checkout">
              <app-checkoutcard></app-checkoutcard>
    
          </div>
          </div>
      </div>
  
      <div class="col-sm-3 menu">
        <div class="btn-group dropleft">
          <button role="button" type="button" class="btn dropdown" data-toggle="dropdown" *ngIf="isMobile || isMidMobile">
             <mat-icon>menu</mat-icon>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/home']">Home</a>
            <a class="dropdown-item" [routerLink]="['/shop']">Shop</a>
            <a class="dropdown-item"[routerLink]="['/contact']">Contact</a>
  
          </div>
        </div>
      </div>
      
  
      
    </div>

  </ng-template>
  
  
  </div>
  
  
  