<div class="bottombar-container">

<div class="bottombar-maincontainer">
    <div class="bottombar-maincontain">
        <div class="left-contain">
            <div>
            <p>Contact us </p>
            <div class="logo">
                <img src="assets/icons/icon-phone--chocolate.png">
                <p>+(192) 800 456 789</p> 
            </div>
            <div class="finaltext">
                <p>Address:123 Main Street, Anytown, CA 12345 - USA.</p>
                <p>Email:demo@towerthemes.com</p>
                
                <div class="socialLinks">
                    <a class="social">
                        <i class="fa fa-facebook" aria-hidden="true"></i>   
                    </a>
                    <a class="social">
                        <i class="fa fa-twitter" aria-hidden="true"></i>   
                    </a>
                    <a class="social">
                        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                    </a>
                    <a class="social">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                    </a>
                    <a class="social">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    </a>
                    <a class="social">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            </div>
        </div>
        <div class="right-contain">
            <div style="display:flex">
            <div>
            <ul><p>Information</p>
                <li><p>About us</p></li>
                <li><p>Delivery Information</p></li>
                <li><p>Privacy Policy</p></li>
                <li><p>Terms & Conditions</p></li>
                <li><p>Brands</p></li>
                <li><p>Gift Certificates</p></li>
            </ul>
        </div>
        <div>

        
            <ul><p>My account</p>
                <li><p>My account</p></li>
                <li><p>Order History</p></li>
                <li><p>Wish List</p></li>
                <li><p>Newsletter</p></li>
                <li><p>Affiliate</p></li>
                <li><p>Specials</p></li>
            </ul>
        </div>
    </div>
        </div>
    </div>
<mat-divider class="middle-divider"></mat-divider>
    <div class="benefits">
        <div class="item-benefits">
            <a class="benefits-icons">
                <i class="fa fa-globe fa-2x" aria-hidden="true"></i>   
            </a>
            <div class="items-benefits-text">
                
                <p class="title">Free Shiping</p>
                <p class="subtitle">Free shipping on all order</p>
            </div>
        </div>
        <div class="item-benefits">

            <a class="benefits-icons">
                <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>   
            </a>
            <div class="items-benefits-text">
                <p class="title">Money Return</p>
                <p class="subtitle">Back guarantee under 7 days</p>
            </div>
        </div>
        <div class="item-benefits">
            <a class="benefits-icons">
                <i class="fa fa-bell fa-2x" aria-hidden="true"></i>   
            </a>
            <div class="items-benefits-text">
                <p class="title">Member Discount</p>
                <p class="subtitle">Onevery order over $120.00</p>
            </div>
        </div>
        <div class="item-benefits">
            <a class="benefits-icons">
                <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>   
            </a>
            <div class="items-benefits-text">
                <p class="title">Online Support</p>
                <p class="subtitle">Support online 24 hours a day</p>
            </div>
        </div>
    </div>
</div>

<mat-divider class="end-divider"></mat-divider>
<div class="copyright">

</div>

</div>