<div class="container-fluid">
<div class="contact-container">
    <div class="col-sm-4 left-container">
        <div class="text">
            <h3>Location & Details</h3>
            <p>It is a long established fact that readewill be distracted by the readable content of a page when looking at ilayout.</p>
        </div>
        <div class="info-icons">
                <div class="info-icon-item">
                    <div class="icon">
                        <i class="fa fa-map-marker " aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <p style="font-weight: bold; margin-left: 10px;margin-right: 5px;">  Address:</p> <p>1234 - Bandit Tringi lAliquam Vitae. New York</p>
                    </div>
                            
                </div>
                <div class="info-icon-item " >
                    <div class="icon">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                            <p style="font-weight: bold; margin-left: 10px;margin-right: 5px;">  Email: </p><p>1support@example.com</p>
                        </div>
                        </div>



                <div class="info-icon-item ">
                    <div class="icon">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </div>
            <div class="text">
                            <p style="font-weight: bold; margin-left: 10px;margin-right: 5px;">  Phone: </p> <p> (800) 0123 456 789</p>
                        </div>
                </div>
        </div>
    </div>
    <div class="col-sm-8 right-container">
        <h3>Sends Us a Message</h3>
        <form>
            <div class="input">
                <label><p>Your Name *</p></label>
                <input>
            </div>
            <div class="input">
                <label><p>Your Email *</p></label>
                <input>
            </div>
            <div class="input">
                <label><p>Your Subject *</p></label>
                <input>
            </div>
            <div class="input">
                <label><p>Your Subject *</p></label>
                <textarea></textarea>
            </div>
            <div class="input">
               <button>SEND</button>
            </div>
        </form>
    </div>
</div>
</div>